{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field-collection-item',
    'field-collection-item--name-' ~ field_collection_item.name|clean_class,
    'field-collection-item--id-' ~ field_collection_item.id|clean_class,
    'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
  ]
%}
<div class="{% if content.field_block_class %}{{ content.field_block_class[0] }}{% endif %}">
	<div{{ attributes.addClass(classes) }}>

	  <div class="content"{{ content_attributes }} >
	  	{% if content.field_block_title %}
		  	<div class="field-title">
		  		<h3>{{ content.field_block_title[0] }}</h3>
			</div>  		
		{% endif %}
		{% if content.field_block_content %}
			<div class="field-body">
	    		{{ content.field_block_content }}
	    	</div>
	    {% endif %}
	    {% if content.field_block_link %}
	    <div class="action-link">
	    	{{ content.field_block_link[0] }}
	    </div>
	    {% endif %}
	  </div>
	</div>
</div>