{#
/**
 * @file
 * Theme override to display a single page.
 *
 */
#}

{%
  set classes = [
    'page',
    'bkgd-pattern-bottom',
    hero_color ? 'color-' ~ hero_color|clean_class
  ]
%}

<style>

#tfi-footer iframe {
  height: 100vh;
}

/* Header breakpoints */
#tfi-header {  
  height: 74px; 
}
@media (min-width: 1150px) {
  #tfi-header { 
    height: 122px; 
  }
}

/* Footer breakpoints */
#tfi-footer { 
  /*background-color: #8e7bef;*/
  height: 1424.55px; 
}
@media (min-width: 401px) {
  #tfi-footer { 
    height: 1183.97px; 
  }
}
@media (min-width: 601px) {
  #tfi-footer { 
    height: 1014px; 
  }
}
@media (min-width: 901px) {
  #tfi-footer { 
    height: 574px; 
  }
}
@media (min-width: 1150px) {
  #tfi-footer { 
    height: 610px; 
  }
}
</style>


<div id="tfi-header">
  <iframe frameborder="0" scrolling="no" src="https://fi.edu/en/header" width="100%"></iframe>
</div>

<div{{ attributes.addClass(classes) }}>

  {% if page.alert %}
    <div id="alert-message" class="alert-message alert-header">
      {{ page.alert }}
    </div>
  {% endif %}

  <header class="main-page-heading">
    <div class="container">
      <!-- div class="site-partner-logo"><img src="/{{ directory }}/images/23_GSK_SIS_Website_Logo_v01_White.png" alt="GSK logo"></div-->
      <h1><a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a></h1>
      <!--div class="site-name-subhead">{{ "in collaboration with The Franklin Institute"|t }}</div-->
    </div>
  </header>
  {% if page.site_nav %}
    <div class="site-navigation clearfix">
      {{ page.site_nav }}
    </div>
  {% endif %}

  <div id="content" class="content-wrapper">
    {% if page.hero %}
      <div id="hero" class="hero">
        <div class="color-theme-block"></div>
        <div class="hero-content container">
          {{ page.hero }}
        </div>
      </div>
    {% endif %}
    <div class="container clearfix">
      {{ page.highlighted }}
      {{ page.help }}
      <a id="main-content" tabindex="-1"></a>
        <div class="main-content">
          {{ page.content }}
        </div>
    </div>
    {{ page.below }}
  </div>

</div>

<div id="tfi-footer">
  <iframe frameborder="0" scrolling="no" src="https://fi.edu/en/footer" width="100%"></iframe>
</div>

<div id="mediaquery"></div>
